<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= application_name %></title>

<% if bootswatch_theme? -%>
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/<%= theme_name %>/bootstrap.min.css" rel="stylesheet">
<% end -%>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

  <%%= stylesheet_link_tag    "application", :media => "all" %>
  <%%= javascript_include_tag "application" %>
  <%%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= application_name %></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
<% if options[:navbar] %>
          <li><%%= link_to "Home", "/" %></li>
<% app_tables.each do |table_name| -%>
          <li><%%= link_to "<%= table_name.humanize.titleize %>", "/<%= table_name %>" %></li>
<% end -%>
          <li><a href="#about">About</a></li>
<% end -%>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <%% if flash[:notice].present? %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%%= notice %>
    </div>
    <%% end %>

    <%%= yield %>

  </div>

</body>
</html>
