<div class="page-header">
  <h1>Editing <%= human_name.titleize %> #<%%= @<%= singular_table_name %>.id %></h1>
</div>

<%%= form_tag(<%= singular_table_name %>_url(@<%= singular_table_name %>), method: 'patch', class: 'form-horizontal') do %>

  <% attributes.each do |attribute| -%>
<div class="form-group">
    <%%= label_tag :<%= attribute.name %>, nil, class: 'col-md-2 control-label' %>
    <%
      colsize = 6
      colsize = 2 if attribute.type == :integer
    %>
    <div class="col-md-<%= colsize %>">
      <%%= <%= attribute.field_type %>_tag :<%= attribute.name %>, @<%= singular_table_name %>.<%= attribute.name %><%= "?" if attribute.type == :boolean %>, class: 'form-control'%>
    </div>
  </div>

  <% end %>
    <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
          <%%= submit_tag "Update <%= human_name.titleize %>", class: 'btn btn-primary' %>
    </div>
  </div>

<%% end %>
