<!-- Validation failure messages -->

<%% if @<%= singular_table_name %>.errors.any? %>
  <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%%= message %>
    </div>
  <%% end %>
<%% end %>


<!-- Simple full-width example -->

<div class="page-header">
  <h1>Edit <%= human_name.titleize %> #<%%= @<%= singular_table_name %>.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
<% if named_routes? -%>
    <%%= form_tag <%= singular_table_name %>_url(@<%= singular_table_name %>.id), :method => "patch", :class => "form-horizontal" %>
<% else -%>
    <form action="/update_<%= singular_table_name %>/<%%= @<%= singular_table_name %>.id %>" class="form-horizontal">
<% end -%>
<% attributes.each do |attribute| -%>
      <!-- Label and input for <%= attribute.name %> -->
      <div class="form-group">
<% if attribute.field_type == :check_box -%>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="<%= attribute.name %>">
              <input type="checkbox" id="<%= attribute.name %>" name="<%= attribute.name %>" value="1" <%%= "checked" if @<%= singular_table_name %>.<%= attribute.name %> %>>
              <%= attribute.name.humanize %>
            </label>
          </div>
        </div>
<% else -%>
        <label for="<%= attribute.name %>" class="col-sm-2 control-label">
          <%= attribute.name.humanize %>
        </label>
        <div class="col-sm-10">
<% if attribute.field_type == :text_area -%>
          <textarea id="<%= attribute.name %>" name="<%= attribute.name %>" placeholder="<%= attribute.name.humanize %>" class="form-control" rows="3"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></textarea>
<% else -%>
          <input type="text" id="<%= attribute.name %>" name="<%= attribute.name %>" placeholder="<%= attribute.name.humanize %>" class="form-control" value="<%%= @<%= singular_table_name %>.<%= attribute.name %> %>">
<% end -%>
        </div>
<% end -%>
      </div>

<% end -%>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update <%= human_name.titleize %>" class="btn btn-warning">
          or
          <a href="/<%= plural_name  %>/<%%= @<%= singular_table_name %>.id %>">Cancel</a>
        </div>
      </div>
<% if named_routes? -%>
    <%% end %>
<% else -%>
    </form>
<% end %>
  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit <%= human_name.titleize %> #<%%= @<%= singular_table_name %>.id %></h3>
      </div>
      <div class="panel-body">
<% if named_routes? -%>
        <%%= form_tag <%= singular_table_name %>_url(@<%= singular_table_name %>.id), :method => "patch", :class => "form-horizontal" %>
<% else -%>
        <form action="/update_<%= singular_table_name %>/<%%= @<%= singular_table_name %>.id %>" class="form-horizontal">
<% end -%>
<% attributes.each do |attribute| -%>
          <!-- Label and input for <%= attribute.name %> -->
          <div class="form-group">
<% if attribute.field_type == :check_box -%>
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="<%= attribute.name %>">
                  <input type="checkbox" id="<%= attribute.name %>" name="<%= attribute.name %>" value="1" <%%= "checked" if @<%= singular_table_name %>.<%= attribute.name %> %>>
                  <%= attribute.name.humanize %>
                </label>
              </div>
            </div>
<% else -%>
            <label for="<%= attribute.name %>" class="col-sm-2 control-label">
              <%= attribute.name.humanize %>
            </label>
            <div class="col-sm-10">
<% if attribute.field_type == :text_area -%>
              <textarea id="<%= attribute.name %>" name="<%= attribute.name %>" placeholder="<%= attribute.name.humanize %>" class="form-control" rows="3"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></textarea>
<% else -%>
              <input type="text" id="<%= attribute.name %>" name="<%= attribute.name %>" placeholder="<%= attribute.name.humanize %>" class="form-control" value="<%%= @<%= singular_table_name %>.<%= attribute.name %> %>">
<% end -%>
            </div>
<% end -%>
          </div>

<% end -%>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update <%= human_name.titleize %>" class="btn btn-warning">
              or
              <a href="/<%= plural_name  %>/<%%= @<%= singular_table_name %>.id %>">Cancel</a>
            </div>
          </div>
<% if named_routes? -%>
        <%% end %>
<% else -%>
        </form>
<% end -%>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
