<div class="page-header">
  <h1>Add A <%= human_name.titleize %></h1>
</div>

<form action="/create_<%= singular_table_name %>" class="form-horizontal">
<% attributes.each do |attribute| -%>
  <div class="form-group">
<% if attribute.field_type == :check_box -%>
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="<%= attribute.name %>">
          <input type="checkbox" id="<%= attribute.name %>" name="<%= attribute.name %>" value="1">
          <%= attribute.name.humanize %>
        </label>
      </div>
    </div>
<% else -%>
    <label for="<%= attribute.name %>" class="col-sm-2 control-label">
      <%= attribute.name.humanize %>
    </label>
    <div class="col-sm-10">
<% if attribute.field_type == :textarea -%>
      <textarea id="<%= attribute.name %>" name="<%= attribute.name %>" placeholder="<%= attribute.name.humanize %>" class="form-control" rows="3"></textarea>
<% else -%>
      <input type="text" id="<%= attribute.name %>" name="<%= attribute.name %>" placeholder="<%= attribute.name.humanize %>" class="form-control">
<% end -%>
    </div>
<% end -%>
  </div>
<% end -%>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%%= submit_tag "Create <%= human_name.titleize %>", class: 'btn btn-primary' %>
    </div>
  </div>
</form>
