<!-- Validation failure messages -->
<%% if @<%= singular_table_name %>.errors.any? %>
  <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%%= message %>
    </div>
  <%% end %>
<%% end %>

<div class="page-header">
  <h3>Add <%= human_name.titleize %></h3>
</div>

<div class="row">
  <div class="col-md-12">
<% if named_routes? -%>
    <%%= form_tag(<%= plural_name %>_url, :method => "post") do %>
<% else -%>
    <form action="/create_<%= singular_table_name %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%%= form_authenticity_token %>">
<% end -%>

<% attributes.each do |attribute| -%>
      <!-- Label and input for <%= attribute.name %> -->
<% if attribute.field_type == :check_box -%>
      <div class="checkbox">
        <label for="<%= attribute.name %>">
          <input type="checkbox" id="<%= attribute.name %>" name="<%= attribute.name %>" value="1" <%%= "checked" if @<%= singular_table_name %>.<%= attribute.name %> %>>
          <%= attribute.name.humanize %>
        </label>
      </div>
<% else -%>
      <div class="form-group">
        <label for="<%= attribute.name %>" class="col-sm-2 control-label">
          <%= attribute.name.humanize %>
        </label>
<% if attribute.field_type == :text_area -%>
        <textarea id="<%= attribute.name %>" name="<%= attribute.name %>" placeholder="<%= attribute.name.humanize %>" class="form-control" rows="3"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></textarea>
<% else -%>
        <input type="text" id="<%= attribute.name %>" name="<%= attribute.name %>" placeholder="<%= attribute.name.humanize %>" class="form-control" value="<%%= @<%= singular_table_name %>.<%= attribute.name %> %>">
<% end -%>
      </div>
<% end -%>

<% end -%>
      <button class="btn btn-success">
        Create <%= human_name.titleize %>
      </button>
      or
      <a href="/<%= plural_name %>">Cancel</a>
<% if named_routes? -%>
    <%% end %>
<% else -%>
    </form>
<% end -%>
  </div>
</div>
