<div class="page-header">
  <h1><%= human_name.titleize %> #<%%= @<%= singular_table_name %>.id %></h1>
</div>

<dl class="dl-horizontal">
<% attributes.each do |attribute| -%>
  <dt><%= attribute.human_name %></dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %><%= "?" if attribute.type == :boolean %> %></dd>

<% end -%>
</dl>
