<h1>Editing <%= human_name.titleize %> #<%%= @<%= singular_table_name %>.id %></h1>

<% if named_routes? %>
<%%= form_tag(<%= singular_table_name %>_url(@<%= singular_table_name %>), method: 'put') do %>
<% else %>
<%%= form_tag("/<%= plural_name %>/#{<%= singular_table_name %>.id}", method: 'put') do %>
<% end %>
  <% attributes.each do |attribute| -%>
<div>
    <%%= label_tag :<%= attribute.name %> %><br />
    <%%= <%= attribute.field_type %>_tag :<%= attribute.name %>, @<%= singular_table_name %>.<%= attribute.name %><%= "?" if attribute.type == :boolean %> %>
  </div>

  <% end %>
  <div>
    <%%= submit_tag "Update <%= human_name.titleize %>" %>
  </div>

<%% end %>
