<h1>New <%= human_name %></h1>

<%%= form_tag("/<%= plural_name %>", method: 'post') do %>

<% attributes.each do |attribute| -%>
  <div>
    <%%= label_tag :<%= attribute.name %> %><br />
    <%%= <%= attribute.field_type %>_tag :<%= attribute.name %><%= "?" if attribute.type == :boolean %> %>
  </div>

  <% end %>
  <div>
    <%%= submit_tag "Create <%= human_name %>" %>
  </div>
<%% end %>
